.header_section {
    width: 100%;
    float: left;
    background-color: #0e0c06;
    height: auto;
    background-size: 100%;
}

.header_bg {
    width: 100%;
    float: left;
    background: #1d1d1d;
    height: auto;
    background-size: 100%;
}

.bg-light {
    background-color: transparent !important;
}

.mr-auto,
.mx-auto {
    margin: 0 auto;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 20px;
    font-size: 17px;
    color: #fefefd;
    margin: 0px 5px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #01d28e;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

.navbar-light .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-weight: 1000;
}

.navbar-light .navbar-brand:hover {
    color: #fff;
}

.navbar-brand span {
    color: #01d28e;
}