@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* header section start*/

.header_section {
    position: fixed;
    width: 100%;
    float: left;
    background-color: #0e0c06;
    height: auto;
    background-size: 100%;
    z-index: 10;
}

#navIcon {
    color: #ffffff;
}

.header_bg {
    width: 100%;
    float: left;
    background: #1d1d1d;
    height: auto;
    background-size: 100%;
}

.bg-light {
    background-color: transparent !important;
}

.mr-auto,
.mx-auto {
    margin: 0 auto;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 20px;
    font-size: 17px;
    color: #fefefd;
    margin: 0px 5px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #00a26e;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

.navbar-light .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-weight: 1000;
}

.navbar-light .navbar-brand:hover {
    color: #fff;
}

.navbar-brand span {
    color: #00a26e;
}

/* header section end*/

/*Login Section Start*/
.login-block {
    background: #DE6262;
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
    background: linear-gradient(to bottom, #FFB88C, #DE6262);
    float: left;
    width: 100%;
    padding: 50px 0;
}

.banner-sec {
    background: url(/assets/img/login.jpg) no-repeat left bottom;
    background-size: cover;
    min-height: 86.4vh;
    border-radius: 0 10px 10px 0;
    padding: 0;
}

.container-login {
    background: #fff;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.login-sec {
    padding: 50px 30px;
    position: relative;
}

.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}

.login-sec .copy-text i {
    color: #FEB58A;
}

.login-sec .copy-text a {
    color: #E36262;
}

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #DE6262;
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FEB58A;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.banner-text h2 {
    color: #fff;
    font-weight: 600;
}

.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FFF;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}

.banner-text p {
    color: #fff;
}

/*Login Section end*/

/* home section start */

.home_section {
    width: 100%;
    float: left;
    height: auto;
    padding: 200px 0px 100px 0px;
    background: linear-gradient(to right, #d9d9d9, #f5f5f5);
}

.home_img {
    width: 100%;
}

.home_img img {
    width: 100%;
}

.home_main {
    width: 100%;
    float: left;
}

.home_sub {
    width: 100%;
    font-size: 60px;
    color: #2c2c2c;
    font-weight: 800;
    line-height: 70px;
}

.home_text {
    width: 80%;
    float: left;
    font-size: 16px;
    color: #403f3f;
    margin: 20px 0px 0px 0px;
}

#content {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    color: #003a08;
}

.btn_main {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.contact_bt {
    width: 175px;
    float: left;
}

.contact_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #00a26e;
    color: #fcf8f8;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

.contact_bt a:hover {
    color: #fcf8f8;
    background-color: #363636;
}

.contact_bt.active a {
    color: #fcf8f8;
    background-color: #363636;
    margin-left: 10px;
}

/* home section end */

/* about section start */

.about_section {
    width: 100%;
    float: left;
    padding: 90px 0px;
}

.about_section_2 {
    width: 100%;
    float: left;
}

.about_main {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0px;
}

.about_box {
    width: 100%;
    float: left;
    padding-top: 15px;
}

.about_img {
    width: 100%;
}

.about_text {
    width: 91%;
    float: left;
    font-size: 16px;
    color: #2d2d2d;
    margin: 30px 0px 0px 0px;
}

.readmore_btn {
    width: 170px;
    float: left;
    margin-top: 40px;
    border-radius: 10px;
}

.readmore_btn a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fcf8f8;
    background-color: #00a26e;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.readmore_btn a:hover {
    color: #00a26e;
    background-color: #ffffff;
    border: 1px solid #00a26e;
}


/* about section end */

/* service section start */

.servicesSection {
    width: 100%;
    float: left;
    padding: 90px 0px;
}

.services_main {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0px;
}

.service-item {
    height: 500px;
    background: #e8e8e8;
    transition: .5s;
    border-radius: 10px;
}

.service-item:hover,
.service-item.active {
    background: rgba(0, 147, 86, 0.5)
}

.service-item h1,
.service-item h4,
.service-item p {
    transition: .5s;
}


.service-item:hover h1,
.service-item.active h1 {
    color: #343A40FF !important;
}

.service-item:hover p,
.service-item.active p {
    color: #4b4b49 !important;
}

.service-item:hover h4,
.service-item.active h4 {
    color: #F8F9FAFF;
}

.service-icon {
    background: #00a26e;
    border-radius: 10px;
}

.service-icon > i {
    color: #ffffff !important;
}

/* service section end */

/* client section start */

.clientSection {
    width: 100%;
    float: left;
    padding: 90px 0px;
}

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

}

.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-bottom: 10px;

}

.blog .carousel-indicators .active {
    background: #707070;
    margin-bottom: 10px;
}

.our-team-section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

.our-team-section:before {
    position: absolute;
    top: -0;
    left: 0;
    content: " ";
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.our-team {
    padding: 0 0 40px;
    background: rgba(232, 232, 232, 0.8);
    text-align: center;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #00a26e;
    height: 400px;
    border-radius: 10px;
}

.our-team:hover {
    border-bottom: 5px solid #2f2f2f;
}

.our-team .pic {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.our-team .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #00a26e;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .pic:before {
    height: 100%;
    background: #2f2f2f;
}

.our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
}

.our-team:hover .pic:after {
    background: #00a26e;
}

.our-team .pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #f7f5ec;
    position: relative;
    z-index: 2;
}

.our-team:hover .pic img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.our-team .team-content {
    margin-bottom: 30px;
}

.our-team .title {
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.our-team .post {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team .social {
    width: 100%;
    padding-top: 10px;
    margin: 0;
    background: #2f2f2f;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding-top: 6px;
    font-size: 15px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.our-team .social li a:hover {
    color: #2f2f2f;
    background: #f7f5ec;
}

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 10px;
    }

    .clientSection {
        height: 1400px;
    }
}

#carouselExampleDark {
    height: 420px;
}

/* client section end */

/*Counter section start*/

#counterSection {
    width: 100%;
    padding: 90px 0px;
}

.counter {
    /*background-color: #d2d0d0;*/
    padding: 50px 0;
    border-radius: 10px;
}

.count-title {
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #00a26e;
}

.counter > i {
    font-size: 50px;
}

#counter-body {
    background: #bcfdd8;
    border-radius: 10px;
}

/*Counter section end*/

/*register Section start*/

.btn_main1 {
    width: 100%;
    float: right;
    padding-top: 40px;
}

.contact_bt1 {
    width: 150px;
    float: right;
}

.contact_bt1 a {
    width: 100%;
    float: right;
    font-size: 18px;
    background-color: #003a08;
    /*background-color: #ff6a00;*/
    color: #fcf8f8;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

.contact_bt1 a:hover {
    color: #fcf8f8;
    background-color: #363636;
}

.contact_bt1.active a {
    color: #fcf8f8;
    background-color: #363636;
    margin-left: 10px;
}

.btn_main2 {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.contact_bt2 {
    width: 150px;
    float: left;
}

.contact_bt2 a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #00A26EFF;
    /*background-color: #ff6a00;*/
    color: #fcf8f8;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

.contact_bt2 a:hover {
    color: #fcf8f8;
    background-color: #363636;
}

.contact_bt2.active a {
    color: #fcf8f8;
    background-color: #363636;
    margin-left: 10px;
}

#register-left-box div {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#register-right-box > div {
    background: #003a08;
    /*background: #0e1d3f;*/
}

#register-right-box > div > div > p {
    color: #b2b2b2;
}

#register-left-box > div > div > p {
    color: #d2d2d2;
}

#register-left-box > div {
    background: rgb(0, 162, 110);
    /*background: #021c52;*/
}

#register-right-box div {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

/*register Section end*/

/*Contact Section Start*/

#btnSendMessage {
    background-color: #00a26e;
}

#btnSendMessage:hover {
    background-color: #363636;
}

.contact-details-box {
    border-radius: 10px;
    background: #003a08 !important;
}

.contact-details-box > div > i {
    color: #00A26EFF !important;
    font-size: 20px;
}

.contact-details-box > div > div > p {
    color: #d2d2d2;
}

.map-box iframe {
    width: 100%;
    height: 357px;
}

.map-box {
    padding: 5px;
    border-radius: 5px;
}

.contactSection .contact-info p {
    font-weight: 600;
    color: #000000;
    margin-bottom: 0;
}

.contactSection .contact-info p a {
    color: #1a1a1a;
}

.contactSection .contact-info p span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #999999;
}

/*Contact Section End*/

/*Footer Section Start */

.scroll-to-top {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: none;
    z-index: 99999;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    background-color: #00a26e;
    line-height: 55px;
}

.scroll-to-top .scroll-icon {
    font-size: 31px;
    color: #ffffff;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background: #00a26e;
    color: white;
}

.footerSection {
    background: #0e0c06;
}

.txt-title{
    color: white!important;
}

.txt-title>a{
    color: white;
    font-weight: bolder;
}

.txt-title>a:hover{
    color: #00a26e;
}

/*Footer Section End */